.iimages {
    padding-left: 5%;
}
.pimages {
    padding-left: 5%;
}

.keychain {
    width: 85;
    height: 110;
}
.st1 {
 width: 100;
 height: 75;
}

.theta {
    width: 85;
    height: 110;
}
.wreck {
    width:100;
    height:75;
}
.campuskitchen {
    width:100;
    height:75;
}

.navbar {
    background-color: lightblue;
    list-style-type: none;
    font-size: 10px;
    font-family: Times New Roman;
    padding: 0;
    margin: 0, auto;
    height: 10%;
    width: 100%;
    float: top;
    position: fixed;
    border-right: 2px solid black;
}



#navbar {

    margin-top: -20px;

}


.navbar ul {

    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: auto;

}





.navbar ul li a {

    display: block;
    position: absolute;
    text-align: left;
    padding: 14px;


}

.everything {
    padding: 0px;
    font-family: Roboto;

}
