body {

    background-color:white;

    padding: 0.5px;

    margin: 0px;



}


.navbar {

    background-color: lightblue;
    list-style-type: none;

    line-height: 50px;
    font-size: 20px;
    font-family: Times New Roman;
    padding: 0;
    margin: 0, auto;
    height: 100%;
    width: 20%;
    float: left;
    position: fixed;
    text-align: center;
}


#navbar {
    margin-top: -22px;
}



.navbar ul {

    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: auto;
}


.navbar ul li a {

    display: block;

    position: absolute;

    top: 50%;

    left: 10%;   

    transform: translate(-50%, -50%);   


}



.navbar ul li a:hover {



border-bottom: 3px solid red;


}


.navbar a.active {

    border-bottom: 3px solid red;
}

.navbar {
    display: none;
}

.list {
  list-style: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}
.list li {
  font-family: montserrat;
  display: block;
  line-height: 80px;
  margin: 0 5px;
}
.list li a {
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover {
  background: none;
  color: #0082e6; 
  transition: .5s;
 
}  

nav {
  background: #0082e6;
  height: 80px;
  width:100%; 
}
label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding-left: 50px;
  font-weight: bold;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: block;
  }
  #check {
    display: none;
  }
#check:checked ~ ul {
  left: 0;
}

.header {
    display: none;
}

.everything {
    padding: 0px 15px 10px 20px;
    /*margin-left: 20%;*/
    font-family: Roboto;
    overflow: auto;

}



.aboutme {



}


h1 {

    font-family: Roboto;
    font-size: 65px;
    margin-bottom: -20px;


}



h2 {
    text-align: center;
    font-size: 40px



}




h3{



    font-size: 24px;



}




li,

p {

    font-size: 20px;

}


.skills ul li {
    font-weight: bold;
    font-size: 32px;
}
.skills p {
    padding: 0px 25px;
    font-size: 20px;
    margin: 0px 22px;
}



#prof{

    float: right;
    margin-right: 20px;
    padding-left: 10px;

}

.prof {
   width: auto;
   height: 45%;
}

.pimages {
    padding-left: 0%;
}
.keychain {
    width: 35%;
    height: auto;
}
.st1 {
    width: 50%;
    height: auto;
}


.iimages {
    padding-left: 0%;
}

.grid1 {
  display: grid;
  height; 100%;
  grid-template-areas:
      "a a b b"
      "a a d d"
      "c c d d";
  grid-gap: 10px 10px;
  align-items: start;
}

.theta {
    max-width: 50%;
    max-height: 50vh;
}

.wreck {
    max-width: 200%;
    max-height: 200vh;
}



.campuskitchen {
    max-width: 200%;
    max-height: 200vh;
}
.me2110 {
    max-width: 200%;
    max-height: 200vh;
}   
    
a {
    max-width: 200%;
    max-height: 200vh;
    grid-area: a;
}
b {
    grid-area: b;
}
c {
    grid-area: c;
}
d {
    grid-area: d;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.col {
  flex: 50%;
  padding: 0 4px;
}

.col img {
  margin-top: 8px;
  vertical-align: middle;
} 
