body {

    background-color:white;
    padding: 0.5px;
    margin-top: 0px;
    font-family: montserrat;
}

.dnav {
    display: hidden;
}


nav {
}
label {
    display: none;
} 
nav ul {
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    float: left;
}

nav ul li {
  list-style: none;
  display: block;
  text-align: center; 
  background: lightblue;
  height: 100%;
  width: 20%;   
  margin: 5px 0;  
}
/*nav ul li a {
  color: white;
  font-size: 17px;
  position: absolute;
  text-decoration: none;
}
nav ul li: hover {
    background: black;
}
*/


h3 a {
    color: black;
}

.everything {
    padding: 0px 15px 10px 20px;
    margin-left: 20%;
    font-family: Roboto;
    overflow: auto;

}



h1 {

    font-family: Roboto;
    font-size: 65px;
    margin-bottom: -10px;


}



h2 {
    text-align: center;
    font-size: 40px



}




h3{



    font-size: 24px;



}




li,

p {

    font-size: 20px;

}


.skills ul li {
    font-weight: bold;
    font-size: 32px;
}
.skills p {
    padding: 0px 25px;
    font-size: 20px;
    margin: 0px 22px;
}



#prof{

    float: right;
    margin-right: 20px;
    padding-left: 10px;

}

.prof {
   width: auto;
   height: 45%;
}

.pimages {
    padding-left: 0%;
}
.keychain {
    width: 35%;
    height: auto;
}
.st1 {
    width: 50%;
    height: auto;
}


.iimages {
    padding-left: 0%;
}

.grid1 {
  display: grid;
  height; 100%;
  grid-template-areas:
      "a a a b b b b"
      "a a a d d d d"
      "c c c d d d d";
  grid-gap: 10px 10px;
  align-items: start;
}

.theta {
    max-width: 100%;
    max-height: 100vh;
}

.wreck {
    max-width: 100%;
    max-height:100vh;
}



.campuskitchen {
    max-width: 100%;
    max-height: 100vh;
}
.me2110 {
    max-width: 100%;
    max-height: 100vh;
}   
    
a {
    max-width: 100%;
    max-height: 100vh;
    grid-area: a;
}
b {
    grid-area: b;
}
c {
    grid-area: c;
}
d {
    grid-area: d;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.col {
  flex: 50%;
  padding: 0 4px;
}

.col img {
  margin-top: 8px;
  vertical-align: middle;
} 
